@import "./variables";
@import "./nav";
@import "./loginRegister";
@import "./sidebar";
@import "./article";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: #f8f8f8;
  color: black;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
.article {
  width: 55%;
  background-color: white;
  table {
    margin: auto;
    border-collapse: collapse;
    justify-content: center;
    tr {
      border: 1px solid black;
    }
    th {
      border-right: 1px solid black;
      padding: 5px;
    }
    td {
      border-right: 1px solid black;
      padding: 5px;
    }
    input[type=text]{
      background-color: white;
    }
    input[type=button]{
      background-color: $mainBlue;
      color: white;
      padding: 5px;
      border: none;
      margin: 2px;

    }
  }
  .largeButton{
    border: none;
    background-color: $mainBlue;
    padding: 10px;
    color: white;
    margin: 5px;
    cursor: pointer;
    &:hover{
      transform: translateY(-1px);
    }
  }
  h2 {
    margin-top: 20px;
    text-align: center;
  }
  ul {
    display: inline-block;
  }
}
main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - #{$navHeight} - #{$footerHeight});
  padding-bottom: 20px;
  color: black;
  > h1 {
    font-size: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  > h2 {
    font-size: 30px;
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 10px 0px;
  }
  > p {
    text-align: left;
    width: 90%;
    margin: auto;
  }
}
footer {
  display: flex;
  font-size: 17px;
  background-color: $mainBlue;
  height: $footerHeight;
  color: white;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  p {
    margin-left: 20px;
  }
  a {
    color: white;
    line-height: 50%;
    margin-left: 20px;
  }
  svg {
    width: 30px;
  }
}
.main {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-shadow: 3px 5px 10px #474747;
  text-align: center;
  min-height: calc(100vh - #{$navHeight});
  h2 {
    font-size: 88px;
    letter-spacing: 1px;
    padding-top: 30vh;
    text-align: center;
  }

  .scroll-down-btn {
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    margin: 50px auto;
    width: 100px;
    animation: pulse 2s infinite;
    filter: drop-shadow(3px 5px 10px #474747);
  }
}
.search-container {
  position: relative;
  margin: 20px auto;
  max-width: 900px;
  input {
    padding: 6px 10px;
    height: 60px;
    font-size: 32px;
    width: 90%;
    float: left;
    border: 0.5px solid black;
  }
  button {
    float: left;
    width: 10%;
    position: absolute;
    padding: 10px;
    border: 0.5px solid black;
    border-left: none;
    color: white;
    background-color: $mainBlue;
    height: 100%;
    right: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: white;
      color: #4169e1;
      svg {
        transform: rotateY(180deg);
      }
    }
  }
  svg {
    height: 100%;
    transition: all 0.2s ease-in-out;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.points {
  min-height: 100vh;
}
.point {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .container-left {
      transition: all 1s;
      margin: 50px;
      width: 30%;
      text-align: right;
    }
    .container-right {
      transition: all 1s;
      margin: 50px;
      width: 30%;
      text-align: left;
    }
    h2 {
      font-size: 28px;
      margin: 0px 20px 10px;
      text-align: inherit;
    }
    p {
      font-size: 20px;
      text-align: justify;
    }
    .notFlown-left {
      opacity: 0 !important;
      margin-right: 10% !important;
    }
    .notFlown-right {
      opacity: 0 !important;
      margin-left: 10% !important;
    }
  }
  img {
    width: 325px;
  }
}
.subjects {
  width: 100%;
  display: table;
  text-align: center;
}
.subject-button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 20px;
  margin: 8px;
  font-size: 46px;
  width: 300px;
  height: 120px;
  line-height: 80px;
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: $mainBlue; //#3742fa;
  &:hover,
  :focus {
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
  }
}

.supportLinks {
  display: grid;
  grid-auto-flow: row;
  width: 80%;
  margin: 40px auto;
  .notFlown {
    opacity: 0;
    transform: translateY(50px);
  }
  > div:nth-child(odd) {
    transition: all 0.3s ease-in-out;
  }
  > div:nth-child(even) {
    transition: all 0.5s ease-in-out;
  }
}
.supportLink {
  display: inline-block;
  margin: 5px;
  background-color: lightgray;
  width: 500px;
  height: 100px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  // animation: fly-in 1s;
  .wrapper {
    display: flex;
    flex-direction: row;
    .left {
      text-align: left;
      width: 50%;
      padding: 10px;
    }
    .right {
      width: 50%;
      text-align: left;
      padding: 10px;
      font-size: 16px;
    }
  }
}
.filter {
  width: 90%;
  max-width: 900px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  select{
    margin: 5px;
  }
}
@keyframes fly-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
  }
}
@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  60% {
    transform: translateY(-7px);
  }
  70% {
    transform: translateY(7px);
  }
  80% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}

@import "./mobile";
