* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: aliceblue;
  color: black;
}
a {
  text-decoration: none;
}

nav {
  top: 0;
  background-color: #4169e1; /*#1E90FF;#20639B;*/
  font-size: 2vw;
  height: 3.5vw;
  letter-spacing: 0.5px;
  width: 100%;
  justify-content: center;
  display: flex;
}

nav > .menu a {
  color: white;
  background-color: #4169e1; /*#007bff;/*#20639B;*/
  padding: 0 1vw;
  line-height: 3.5vw;
  display: block;
}
nav > .menu {
  list-style: none;
  display: flex;
}

nav > .menu a:hover {
  color: #90ee90;
  background-color: #2f59d4;
}
nav > .menu > li:first-of-type {
  margin-left: 75px;
}

.main {
  background-image: url("images/main-photo.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* min-height: 88vh; */
}

.header {
  color: #90ee90;
  text-shadow: 3px 5px 2px #474747; /*text-shadow: 0 2px 4px rgba(41,48,59,.55);*/
  text-align: center;
  /*text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);*/
}
.header > h1 {
  padding-top: 2.5vw;
  font-size: 4.5vw;
}
.header > h2 {
  margin-top: 7vw;
  font-size: 3.5vw;
}

@media screen and (max-width: 800px) {
}

nav > .logo {
  width: 3.5vw;
}

.subjects {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: table;
  text-align: center;
}
.subject-button {
  /* float: left; */
  /* display: block; */
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 1.5vw;
  margin: 0.5vw;
  font-size: 2vw;
  width: 14vw;
  border: 0;
  border-radius: 0.75vw;

  background: rgba(144, 238, 144, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(144, 238, 144, 1) 0%,
    rgba(65, 105, 225, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(144, 238, 144, 1)),
    color-stop(100%, rgba(65, 105, 225, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(144, 238, 144, 1) 0%,
    rgba(65, 105, 225, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(144, 238, 144, 1) 0%,
    rgba(65, 105, 225, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(144, 238, 144, 1) 0%,
    rgba(65, 105, 225, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(144, 238, 144, 1) 0%,
    rgba(65, 105, 225, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90ee90', endColorstr='#4169e1', GradientType=1 );
}

.subject-button:hover,
.subject-button:focus {
  transform: translateY(-1px);
  -webkit-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
}
.subject-button > a {
  color: rgb(0, 0, 0);
}
.scroll-down-btn {
  color: white;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 1vw;
  margin: 3vw auto;
  font-size: 2.25vw;
  border: 0;
  background-color: rgba(0, 0, 0, 0.9);
  animation: pulse 2s infinite;

  -webkit-animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  60% {
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  60% {
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.main-bullet-points {
  margin-top: 2vw;
}
.main-bullet-points > li {
  margin: 5px auto;
  text-shadow: none;
  text-align: left;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 2vw;
  text-shadow: 3px 3px 2px #474747;
  font-weight: 500;
}
main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  /* min-height: 88vh; */
}
main > h1 {
  padding-top: 20px;
  font-size: 3vw;
}
main > p {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}
footer {
  display: flex;
  font-size: 1vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  background-color: #4169e1;
  color: white;
  height: 3vw;
  left: 0;
  right: 0;
  line-height: 3vw;
}
footer > p {
  padding-left: 1vw;
}

footer > img {
  width: 2vw;
  padding-left: 1vw;
}
.subjects {
  margin-left: auto;
  margin-right: auto;
}
.support-searchBox {
  margin: 20px;
  width: 55vw;
  height: 3vw;
  font-size: 2vw;
}
.article{
  width: 20vw;
  background-color: #708090;
}
.article > img{
  width: 60%;
}
/* RESPONSIVITY */
@media only screen and (max-width: 1024px) {
  nav {
    height: 10vw;
    font-size: 3vw;
  }
  nav > .menu a {
    padding: 0 2vw;
    line-height: 10vw;
  }
  nav > .menu > li:first-of-type {
    margin-left: 75px;
  }
  nav > .logo {
    width: 10vw;
  }
  main {
    width: 100%;
  }
  main > h1 {
    font-size: 8vw;
  }
  .header > h1 {
    font-size: 8vw;
  }
  .header > h2 {
    font-size: 6vw;
  }
  .subjects {
    width: 100%;
  }
  .subject-button {
    font-size: 6vw;
    margin: 2vw;
    padding: 4.5vw;
    width: 30vw;

  }
  .scroll-down-btn {
    font-size: 4vw;
  }
  .main-bullet-points > li {
    text-align: center;
    list-style-type: none;
    margin: 2vw auto;
    font-size: 5vw;
    width: 90%;
  }
  .support-searchBox {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
  footer {
    font-size: 3vw;
    height: 9vw;
    line-height: 9vw;
  }
  footer > p {
    padding-left: 3vw;
  }

  footer > img {
    width: 5vw;
    padding-left: 3vw;
  }
}
@media only screen and (max-width: 1000px) {
  .main-bullet-points {
    text-align: center;
  }
}
