* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8f8f8;
  color: black;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}

nav {
  top: 0;
  background-color: #4169e1; /*#1E90FF;#20639B;*/
  font-size: 34px;
  height: 60px;
  letter-spacing: 0.5px;
  width: 100%;
  justify-content: center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
nav > .mobile-button {
  display: none;
}

nav > .menu a {
  color: white;
  background-color: #4169e1; /*#007bff;/*#20639B;*/
  padding: 0 15px;
  line-height: 60px;
  display: block;
}
nav > .menu {
  list-style: none;
  display: flex;
  display: -webkit-flex;
}
nav > .menu a:hover {
  color: #90ee90;
  background-color: #2f59d4;
}
nav > .menu > li:first-of-type {
  margin-left: 75px;
}
nav > .logo {
  width: 160px;
  display: block;
}

.main {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("images/main-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  color: #90ee90;
  text-shadow: 3px 5px 2px #474747;
  text-align: center;
  min-height: calc(100vh - 60px);
}
.main > h2 {
  padding-top: 30vh;
  font-size: 88px;
  letter-spacing: 1px;
}
.subjects {
  width: 100%;
  display: table;
  text-align: center;
}
.subject-button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 20px;
  margin: 8px;
  font-size: 46px;
  width: 300px;
  height: 120px;
  line-height: 80px;
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: #4169e1;
}

.subject-button:hover,
.subject-button:focus {
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px -14px rgba(0, 0, 0, 0.75);
}
.scroll-down-btn {
  color: #90ee90;
  display: inline-block;
  cursor: pointer;
  margin: 50px auto;
  width: 100px;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  60% {
    transform: translateY(-7px);
  }
  70% {
    transform: translateY(7px);
  }
  80% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  60% {
    transform: translateY(-7px);
  }
  70% {
    transform: translateY(7px);
  }
  80% {
    transform: translateY(-2px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
.notFlown-left {
  opacity: 0 !important;
  margin-right: 250px !important;
}
.notFlown-right {
  opacity: 0 !important;
  margin-left: 250px !important;
}
.points {
  min-height: 100vh;
}
.point > .container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.point img {
  width: 325px;
}
.point .container-right {
  transition: all 1s;
  margin: 50px;
  width: 30%;
  text-align: left;
}
.point .container-left {
  transition: all 1s;
  margin: 50px;
  width: 30%;
  text-align: right;
}
.point h2 {
  font-size: 28px;
  margin: 0px 20px 20px 20px;
  text-align: inherit;
}
.point p {
  font-size: 20px;
  text-align: justify;
}
main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: calc(100vh - 60px - 50px); /* - navHeight, -footerHeight */
  color: black;
}
main > h1 {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 42px;
}
main > h2 {
  padding: 10px 0px;
  font-size: 30px;
  text-align: left;
  width: 90%;
  margin: auto;
}
main > p {
  text-align: left;
  width: 90%;
  margin: auto;
}
footer {
  display: flex;
  display: -webkit-flex;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4169e1;
  color: white;
  height: 50px;
  align-items: center;
}
footer > p {
  margin-left: 20px;
}
footer svg {
  width: 30px;
}
footer a {
  color: white;
  line-height: 50%;
  margin-left: 20px;
}
.sideBar {
  top: calc(60px + 5%);
  position: absolute;
  left: 2.5%;
  font-size: 22px;
  width: 15%;
}
.sideBar h3 {
  padding: 5px;
  text-align: center;
}
.sideBar ul {
  list-style: none;
  display: grid;
  grid-auto-flow: row;
}
.sideBar li {
  padding: 10px;
  border: 1px solid black;
  margin-top: 5px;
  width: 100%;
}
.sideBar a {
  display: block;
  width: 50%;
  height: 100%;
  margin: auto;
}
.article {
  width: 55%;
  background-color: white;
}
.form-container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 100px;
  justify-content: center;
}
.form-container > form {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  border: 1px solid #dfe1e5;
  width: 400px;
  height: 300px;
  transition: all 0.25s ease-in-out;
  background-color: white;
}
.form-container > form:hover,
.form-container > form:focus-within {
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.2),
    0 8px 12px 6px rgba(60, 64, 67, 0.1);
}
.login > h2 {
  padding: 15px;
}
.login > p {
  font-size: 22px;
}
.login > input {
  width: 250px;
  margin: 5px;
  font-size: 18px;
  padding: 3px 5px;
}
.login > .login-button {
  background-color: #6585e7;
  color: white;
  margin: 20px;
  height: 40px;
  border: 0;
  font-weight: bold;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.login > .login-button:hover,
.login > .login-button:focus {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
  transform: translateX(2px) translateY(2px);
}
.support-searchBox {
  padding: 6px 10px;
  height: 60px;
  font-size: 36px;
  width: 90%;
  float: left;
}
.search-container {
  position: relative;
  margin: 20px auto;
  max-width: 900px;
}
.search-container > button {
  float: left;
  width: 10%;
  position: absolute;
  padding: 10px;
  border: 1px solid gray;
  border-left: none;
  color: white;
  background-color: #4169e1;
  height: 100%;
  right: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.search-container svg {
  height: 100%;
  transition: all 0.2s ease-in-out;
}
.search-container > button:hover {
  background-color: white;
  color: #4169e1;
}
.search-container > button:hover svg {
  transform: rotateY(180deg);
}
.search-container::after {
  content: "";
  clear: both;
  display: table;
}
.articles {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}
.articles > a {
  color: black;
}
.articleLink {
  width: 350px;
  height: auto;
  background-color: #8b9bac;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}
.articleLink:hover {
  transform: translateY(-2px);
}
.articleLink > h2 {
  padding: 5px 0px 0px 0px;
  font-size: 26px;
}
.articleLink .container {
  background-color: inherit;
  display: flex;
  display: -webkit-flex;
}
.articleLink .container .rightBox {
  width: 50%;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.articleLink > .container > .leftBox {
  text-align: left;
  width: 50%;
  padding: 10px;
}
.articleLink > .container > .leftBox > img {
  width: 100%;
}
/* RESPONSIVITY */
@media only screen and (max-width: 1100px) {
  nav {
    height: 10vw;
    font-size: 3vw;
    align-items: stretch;
  }
  nav > .mobile-button {
    width: 6vw;
    display: block;
  }
  nav > .menu {
    display: inline-block;
    position: absolute;
    list-style: none;
    color: #4169e1;
    background-color: rgb(0, 0, 0, 0.9);
    margin-top: 10vw;
    width: 100%;
  }
  nav > .menu a {
    font-size: 5vw;
    text-decoration: none;
    color: white;
    width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  nav > .menu a:hover {
    background-color: inherit;
  }
  nav > .menu > li:first-of-type {
    margin-left: 0;
  }
  nav > .menu > li {
    padding: 3vw;
  }
  nav > .menu {
    display: none;
  }
  nav > .menu a {
    padding: 0 2vw;
    line-height: 10vw;
    text-align: center;
    background-color: inherit;
  }
  nav > .mobile {
    display: block;
    z-index: 1000;
  }
  nav > .logo {
    width: 20vw;
    margin-right: 55vw;
  }
  nav > .logo > a {
    line-height: 10vw;
    text-align: center;
  }
  nav img {
    vertical-align: middle;
  }
  main {
    min-height: calc(100vh - 10vw - 9vw); /* - navHeight, -footerHeight */
  }
  main > * {
    margin-left: auto;
    margin-right: auto;
  }
  main > h1 {
    font-size: 7vw;
  }
  main > h2 {
    font-size: 4vw;
  }
  .sideBar {
    display: none;
    /* top: calc(10vw + 5%);
    position: absolute;
    left: 2.5%;
    font-size: 22px;
    width: 20%; */
  }
  .article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .articleLink {
    width: 80vw;
    height: auto;
    margin: 1vw;
  }
  .articleLink > h2 {
    padding: 1vw;
    font-size: 6vw;
  }
  .articleLink > .container {
    display: flex;
    display: -webkit-flex;
  }
  .articleLink > .container > .rightBox {
    width: 50%;
    text-align: left;
    font-size: 4vw;
    padding-left: 0.5vw;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .articleLink > .container > .leftBox {
    text-align: left;
    width: 50%;
  }

  .point > .container {
    flex-direction: column;
  }
  .point img {
    width: 300px;
    /* margin: 40px; */
  }
  .point .container-right {
    margin: 30px 0px 30px 0px;
    width: 90%;
    text-align: center;
    order: 2;
  }
  .change > .container-left {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    order: 2 !important;
  }
  .change > .container-right {
    margin-top: 40px !important;
    margin-bottom: 0px !important;
    order: 1 !important;
  }
  .point .container-left {
    margin: 40px 0px 0px 0px;
    width: 90%;
    text-align: center;
    order: 1;
  }
  .point h2 {
    font-size: 28px;
    margin: 0px 0px 20px 0px;
    text-align: inherit;
  }
  .point p {
    font-size: 20px;
    text-align: center;
  }

  .main > h2 {
    font-size: 10vw;
  }
  .main > h3 {
    margin-top: 15vw;
    font-size: 6vw;
  }
  .main a {
    display: inline-block;
  }
  .subjects {
    width: 90%;
  }
  .scroll-down-btn {
    margin: 0vw auto;
  }
  .subject-button {
    font-size: 6vw;
    margin: 1.5vw;
    padding: 4.5vw;
    width: 40vw;
    height: 15vw;
    line-height: 6vw;
  }
  .form-container {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 50px;
  }
  .search-container {
    width: 90%;
  }
  .search-container > .support-searchBox {
    width: 85%;
    height: 60px;
    font-size: 28px;
  }
  .search-container > button {
    font-size: 28px;
    width: 15%;
  }
  footer {
    font-size: 3vw;
    height: 9vw;
    line-height: 9vw;
  }
  footer > p {
    padding-left: 3vw;
  }
  footer svg {
    width: 6vw;
  }
}
