*{
  margin:0;
  padding:0;
}

body{
  background-color: aliceblue;
  color: black;
}
a {
  text-decoration: none;
}

nav{
  top: 0;
  background-color:#4169E1;/*#1E90FF;#20639B;*/
  font-size: 28px;
  height: 65px;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
}

nav >.menu a{
  color: white;
  background-color: #4169e1;/*#007bff;/*#20639B;*/
  padding: 8px 16px;
  display: block;
}
nav > .menu{
  list-style: none;  
  display: flex;
  flex-direction: row;
}

nav >.menu a:hover{
  color: #90EE90;
}
nav >.menu > li:first-of-type{
  margin-left: 75px;
}

.main{
  background-image: url('images/main-photo.jpg');
  background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      opacity: 0%;
      height: 800px;

  
}

.header{
  color:green;
  text-shadow: 0 2px 4px rgba(41,48,59,.55);
  text-align: center;
  /*text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);*/
}
.header > h1{
  font-size: 38px;
}

@media screen and (max-width: 800px){
}

nav > .logo{
  width: 65px;
}